{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenith Achievers </title>
    <link type="text/css" href="{% static 'styles/website_style.css' %}" rel="stylesheet" />
    
    <script src="{% static 'js/jquery.js' %}"></script>

</head>
<body>
    <div id="header">
        <div class="wrap">
            
            <div class="site-id">
                <img src="{% static 'img/logo.png' %}" />
            </div>

            <div class="pry-nav">
                <ul>
                    <!-- <a href="index.html"><li>Home</li></a>    
                    <a href="pages/about.html"><li>About</li></a>
                    <a href="pages/services.html"><li>Services</li></a> -->
                    <a href="{% url 'login' %}"><li>Log In</li></a>
                    <a href="{% url 'register' %}"><li>Registration</li></a>
                </ul>     
            </div>

            <script src="{% static 'base_js/toggle.js' %}"></script>
            
            <div class="site-id nav">
                    <!-- <div><img src="img/nav.svg" /></div> -->

                <svg version="1.1"  x="0px" y="0px"
                    viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                    
                    <g>
                    <!-- Add a class to each rect element to style and target them individually -->
                    <rect x="4.6" y="10.5" class="st0 bar1" width="30.8" height="4"/>
                    <rect x="4.6" y="18" class="st0 bar2" width="30.8" height="4"/>
                    <rect x="4.6" y="25.5" class="st0 bar3" width="30.8" height="4"/>
                    </g>

                </svg>

             </div>  
             
        </div>

    </div>

    <!-- <div class="back-drop"></div> -->

    <div style="height:70px;"></div>

    <div class="landing lnd-home">
        <!-- <video src="media/vid.mp4"
               autoplay="true">
        </video> -->

        <div class="text">
            <center>
            <h1 style="color: aliceblue;">Zenith Achievers</h1>
            <p>
                Zenith Achievers is an online platform dedicated to helping users make smart investments, 
                achieve financial success, and break free from poverty through wise earning opportunities.
            </p>
            <a href="{% url 'login' %}"><button>Start Earning</button></a>
            </center>
        </div>

    </div>

    <!-- main section -->
    <div id="main">


        <!-- section -->
        <div class="section">
            <h1>Ways to Earn</h1>
            
            <div class="container">

                <div class="item">
                    <div class="icon-box">
                        <img src="{% static 'img/whatsapp3d.png' %}" />
                    </div>

                    <h3>Whatsapp Earnings</h3>
                    <p>
                        Quickly Earn Cash by posting products on your whatsapp
                        Get paid in no time                   
                    </p>
                </div>

                <div class="item">
                    <div class="icon-box">
                        <img src="{% static 'img/customer-referral.jpg' %}" />
                    </div>

                    <h3>Referral Earnings</h3>
                    <p>
                        Earn a Whooping 75% on your downlines  
                    </p>
                </div>

                <div class="item">
                    <div class="icon-box">
                        <img src="{% static 'img/game.jpg' %}" />
                    </div>

                    <h3>Games</h3>
                    <p>
                        Immerse yourself in our addicting games  
                        that actually pay you real money.
                    </p>
                </div>

            </div>

        </div>


        <div class="narrative">
            <div class="img-box">
                <img src="{% static 'img/zenith_illustration.jpg' %}" />
            </div>
            <div class="text-box">
                <h1>Earn Money Online</h1>
                <p>
                    Make money the easy way with our platform. Post products on WhatsApp and get paid instantly, no complicated steps required. 
                    Earn even more by referring people to properties, whether it's land, houses, or rentals, and watch your commissions grow. For those who love gaming, our platform offers exciting games that actually pay real cash. Whether you’re sharing products, helping others find homes, or playing games, there’s always a way to earn. 
                    Start now and turn your time into money with ease!
                </p>
                <a href="{% url 'login' %}"><button>Start Earning</button></a>
            </div>

            

        
        
        
        </div>



        <!-- packages section -->
        <div class="section">
            <h1>Packages</h1>
            
            <div class="pricing-container">
                {% for package in packages %}
                <div class="pricing-card">
                    <div class="pricing-header">
                        <h3 class="package-name">{{ package.name }}</h3>
                        <div class="price">Ksh{{ package.price }}</div>
                    </div>
                    <ul class="features">
                        {% for method in package.get_earning_methods %}
                        <li>{{ method }}</li>
                        {% endfor %}
                       
                    </ul>
                    <a href="{% url 'login' %}"><button class="btn">Get Started</button></a>
                </div>
                {% endfor %}
                        
                <!-- <div class="pricing-card popular">
                    <div class="pricing-header">
                        <h3 class="package-name">Elite</h3>
                        <div class="price">$49<span>/month</span></div>
                    </div>
                    <ul class="features">
                        <li>Up to 25 Users</li>
                        <li>50GB Storage</li>
                        <li>Priority Support</li>
                        <li>Advanced Integration</li>
                        <li>Advanced Analytics</li>
                    </ul>
                    <button class="btn">Get Started</button>
                </div>
         -->
                <!-- <div class="pricing-card">
                    <div class="pricing-header">
                        <h3 class="package-name">Executive</h3>
                        <div class="price">$99<span>/month</span></div>
                    </div>
                    <ul class="features">
                        <li>Unlimited Users</li>
                        <li>500GB Storage</li>
                        <li>24/7 Support</li>
                        <li>Full Integration</li>
                        <li>Premium Analytics</li>
                    </ul>
                    <button class="btn">Get Started</button>
                </div> -->

            </div>

            <!-- <div class="container">

                <div class="item project2">
                    <img src="img/stair.jpg" />
                    <h3>Exquisite Architecture</h3>
                </div>

                <div class="item project2">
                    <img src="img/amp.jpg" />
                    <h3>Bespoke Furniture</h3>
                </div>

                <div class="item project2">
                    <img src="img/vil.jpg" />
                    <h3>Property Morgage</h3>
                </div>

            </div> -->  

        </div>


        
        <!-- section -->
        <div class="section">
            <h1>Testimonials</h1>
            
<!-- 
                <div class="testimonial">
                    <div class="test-image">
                        <img src="img/engr.svg" />
                    </div>

                    <div class="test-txt">
                        <h3>Systems Analyst</h3>
                        <p>
                            Nice platform to choose your dream space
                        </p>
                    </div>
                </div> -->
                
            <div class="test-container">


                <div class="tab">
                    <center>
                    <div class="test-img-box">
                        <div class="test-img">

                        </div>
                    </div>
                    <h3>Bose Oluyede</h3>
                    <p>Dedicated to crafting custom-made furniture wih sustainble materials</p>
                    </center>
                </div>

                <div class="tab">
                    <center>
                    <div class="test-img-box">
                        <div class="test-img">

                        </div>
                    </div>
                    <h3>Abiola Joseph</h3>
                    <p>
                        Well deliver unparalleled expertise and innovation in all your projects. 
                    
                    </p>
                    </center>
                </div>

                <div class="tab">
                    <center>
                    <div class="test-img-box">
                        <div class="test-img">

                        </div>
                    </div>
                    <h3>Aisha Dadda</h3>
                    <p>you cater to both residential and commercial clients. </p>
                    </center>
                </div>

            </div>


         

        </div>

        <!--Contact section -->
        <div class="section">
            <h1>Contact Us</h1>
            
            <div class="contact-container">
                <div class="contact-items ctext">
                    <h2>Let us Talk</h2>
                    <p>Got something for us send us a Message<br/>
                        to get started
                    </p>
                </div>
                <div class="contact-items">
                    <form action="#" method="POST">
                        <input type="text" name="#" placeholder="Your name"/>
                        <input type="text" name="#" placeholder="Your phone"/>
                        <textarea>

                        </textarea>
                        <button>Send Message</button>
                    </form>
                </div>
            </div>
        </div>

    </div>


    <div class="footer">

        <div class="footer-wrap">


            <div class="copyright">
                <div class="site-id">
                    <img src="{% static 'img/zenith_logo.jpeg' %}" />
                </div>
                <h4>Copyright © 2025 Zenith Achievers </h4>
            </div>

          
        </div>


    </div>

    
</body>
</html>