{% extends "base.html" %}
{% load static %}

{% block title %}Log-in{% endblock %}

{% block header %}
  <!-- <div id="header">

      <div class="header-wrap">

        <div class="site-id">
          <a href="{% url 'login' %}">
              <div class="site-id">
                  <img src="{% static '/img/zenith_logo.jpeg' %}" />
              </div>
          </a>
      </div>

  </div>

  <div class="header-pad"></div> -->
{% endblock %}

{% block content %}
  <div id="header">

    <div class="header-wrap">
        <a href="{% url 'login' %}">
            <div class="site-id">
                <img src="{% static '/img/zenith_logo.jpeg' %}" />
            </div>
        </a>
    </div>

  </div>
  <div class="header-pad"></div>

    <div class="auth-form">
        <h1>Log-in</h1>
      

      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="button" class="toggle-password" onclick="togglePassword()">
          👁️
        </button>
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Log-in"></p>
        <!-- <button type="submit" class="login-button">Log In</button> -->
      </form>
      <p>
        <a href="{% url 'password_reset' %}">Forgot password?</a> | <a href="{% url 'register' %}">Register here</a>.

      </p>
    </div>
 

  <script>
      function togglePassword() {
          const passwordInput = document.getElementById('id_password');
          const toggleButton = document.querySelector('.toggle-password');
          
          if (passwordInput.type === 'password') {
              passwordInput.type = 'text';
              toggleButton.textContent = '🔒';
          } else {
              passwordInput.type = 'password';
              toggleButton.textContent = '👁️';
          }
      }
  </script>

{% endblock %}
