{% extends "base.html" %}
{% load static %}

{% block title %}Change your password{% endblock %}
{% block header %}
    <div id="header">

      <div class="header-wrap">
          <a href="{% url 'browser:index' %}">
              <div class="site-id">
                  <img src="{% static '/img/back.svg' %}" />
              </div>
          </a>
      </div>

  </div>
  <div class="header-pad"></div>
{% endblock %}

{% block content %}

  <div class="auth-form">
      <h1>Change your password</h1>
    <p>Use the form below to change your password.</p>
    <form method="post">
      {{ form.as_p }}
        <p><input type="submit" value="Change"></p>
      {% csrf_token %}
    </form>
  </div>

{% endblock %}
