{% extends "base.html" %}
{% load static %}
{% block title %}Reset your password{% endblock %}



{% block content %}
  <div id="header">

    <div class="header-wrap">
        <a href="{% url 'login' %}">
            <div class="site-id">
                <img src="{% static '/img/zenith_logo.jpeg' %}" />
            </div>
        </a>
    </div>

  </div>
  <div class="header-pad"></div>
  <div class="auth-form">
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Send e-mail"></p>
      <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a> </p>
    </form>
  </div>

{% endblock %}
