{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block title %} Whatsapp {% endblock %}
{% block content %}

  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold text-uppercase">Whatsapp</h3>
          <h6 class="font-weight-normal mb-0"></h6>
        </div>
        <div class="col-12 col-xl-4">
         <div class="justify-content-end d-flex">
          <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
            <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
             <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
              <a class="dropdown-item" href="#">January - March</a>
              <a class="dropdown-item" href="#">March - June</a>
              <a class="dropdown-item" href="#">June - August</a>
              <a class="dropdown-item" href="#">August - November</a>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-2 stretch-card transparent">
           
        </div>
     <div class="col-md-8 stretch-card transparent mt-3 mt-lg-0">
           <div class="card card-dark-blue">
            <div class="card-body">
                <!-- <p style="text-align: right;">
                    Current whatsapp earning balance: {{ request.user.profile.earning_balance }}
                </p> -->
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ whatsapp_screenshot_form.as_p }}
                  <button type="submit" class="btn  mt-3 text-white" style="background: #dc3545;">Submit</button>
              </form>
                <!-- <form class="pt-3">
            <div class="mb-3">
               <label for="exampleInputnumber" class="form-label" style="font-weight: 600;">Phone Number</label>
               <input type="number" class="form-control" id="exampleInputnumber" aria-describedby="numberHelp">
             </div>
             <div class="mb-3 py-3">
               <label for="exampleInputnumber" class="form-label" style="font-weight: 600;">Number Of Views</label>
               <input type="number" class="form-control" id="exampleInputnumber" aria-describedby="numberHelp">
             </div>
             <div class="mb-3">
               <label for="exampleInputnumber" class="form-label" style="font-weight: 600;">Screenshot Image (.png,.jpg,.jpeg only)</label>
               <input type="file" class="form-control" id="exampleInputnumber" aria-describedby="numberHelp">
             </div>
    
             <button type="submit" class="btn  mt-3 text-white" style="background: #dc3545;">Submit</button>
              </form> -->
              <div>
              </div>
            </div>
          </div>
        </div>
       <div class="col-md-2 stretch-card transparent mt-3 mt-lg-0">
          
        </div>
    </div>


    <div class="card mt-5" style="overflow: scroll;">
      <h4>Screenshots submitted</h4>
      <table class="mt-3">
        <thead>
          <tr>
            <th>SN</th>
            <th>Shot</th>
            <th>Date</th>
            <th>Views</th>
            <th>Approved</th>
            <th>Unique ID</th>
          </tr>
        </thead>
        <tbody>
          {% for user_screenshot in user_screenshots %}
          <tr>
            
            <td>{{ forloop.counter }}</td>
            <!-- Display Screenshot -->
            <td>
              <img src="{{ user_screenshot.screenshot.url }}" alt="Screenshot" width="100" height="100" style="object-fit: cover;">
            </td>
            <td>{{ user_screenshot.created }}</td>
            <td>{{ user_screenshot.number_of_views }}</td>
           
            <!-- <td>{{ user_screenshot.approved }}</td> -->
            <td>
              {% if user_screenshot.approved%}
                  <button class="btn text-white" style="background: #28a745;">Approved</button>
              {% else %}
                  <button class="btn text-white" style="background: #F3797E;">Pending</button>
              {% endif %}
            </td>

            <td>{{ user_screenshot.screenshot_reference_code }}</td>

            
          </tr>
          {% endfor %}
        </tbody>
      </table>

      </div>

<!-- content-wrapper ends -->
{% endblock %}