<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link type="text/css" href="../styles/style.css" rel="stylesheet" />
    <link type="text/css" href="../styles/about.css" rel="stylesheet" />
    
    <script src="../js/jquery.js"></script>
    <link rel="stylesheet" href="../js/leaflet/leaflet.css" />
   <script src="../js/leaflet/leaflet.js"></script>

</head>
<body>
    <div id="header">
        <div class="wrap">
            
            <div class="site-id">
                    <img src="../img/estate-01.png" />
            </div>

            <div class="pry-nav">
                <ul>
                    <a href="../index.html"><li>Home</li></a>    
                    <a href="about.html"><li>About</li></a>
                    <a href="services.html"><li>Services</li></a>
                    <a href="catalog.html"><li>Catalog</li></a>
                    <a href="contact.html"><li>Contact</li></a>
                </ul>     
            </div>

            <script src="../js/toggle.js"></script>
            <div class="site-id nav">
                    <!-- <div><img src="img/nav.svg" /></div> -->

                <svg version="1.1"  x="0px" y="0px"
                    viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                    
                    <g>
                    <!-- Add a class to each rect element to style and target them individually -->
                    <rect x="4.6" y="10.5" class="st0 bar1" width="30.8" height="4"/>
                    <rect x="4.6" y="18" class="st0 bar2" width="30.8" height="4"/>
                    <rect x="4.6" y="25.5" class="st0 bar3" width="30.8" height="4"/>
                    </g>

                </svg>

             </div>  
        </div>

    </div>

    <!-- <div class="back-drop"></div> -->

    <div style="height:70px;"></div>

    <div class="landing contactland">
        <!-- <video src="media/vid.mp4"
               autoplay="true">
        </video> -->

        <div class="text ">
            <h1>Contact us</h1>
            <p>
                At Sagesse de Dieu Limited<br/>
                We offer quality services and good customer relations
            </p>
            <button>Send a Message</button>
        </div>

    </div>

    <!-- main section -->
    <div id="main">



        <div class="section">
            <h1>Contact Details</h1>

            <div class="contact-map-container">
                <div class="contact-map-details">
                    <h2 style="margin-top: 0;">Reach Out</h2>
                    <h3>Address</h3>
                    <p>1 Biggie Street, Filling Dabo, Dei Dei,<br/> Abuja</p>

                    <h3>Phone</h3>
                    <p>+234 809 999 9369 <br/>+234 816 206 5896</p>

                    <h3>Email</h3>
                    <p>info@ssd.com.ng <br/>akintolatech@gmail.com</p>

                    <a href="tel:08162065896" ><button style="margin-top: 30px; width: 160px;">Call Now</button></a>
                   
                </div>

                <div class="contact-map-box">
                    <div id="map">
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d479.5551869518785!2d8.886596669921785!3d9.871130000947208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x105375c9b6329275%3A0x2d2c2e4f23d02d2c!2sNigerian%20Airforce%20Station%20Jos!5e1!3m2!1sen!2sng!4v1691477108261!5m2!1sen!2sng" 
                        width="100%" 
                        height="450px" 
                        style="border:0; margin: auto;" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
            

        </div>

        <!--Contact section -->
        <div class="section">
            <h1>Message</h1>
            
            <div class="contact-container">
                <div class="contact-items ctext">
                    <h2>Let us Talk</h2>
                    <p>Got something for us send us a Message
                        to get started
                    </p>
                </div>
                <div class="contact-items">
                    <form action="#" method="POST">
                        <input type="text" name="#" placeholder="Your name"/>
                        <input type="text" name="#" placeholder="Your phone"/>
                        <textarea>

                        </textarea>
                        <button>Send Message</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="footer">

        <div class="footer-wrap">



            <div class="footer-text-container">

                <ul>
                    <li class="footer-heading">Real Estate Company</li>
                    <li>
                        We Aim to produce magnificent works of furniture produced<br/> 
                        sustainably from durable and aesthetic product
                    </li>
                    <li>Headquarters: 136 Burma, Akwanga, Nassarawa State.</li>
                    <li>Monday - Saturday 8:00AM - 5:30PM <br/>Sundays Closed</li>
                    <li><a href="tel:08162065896" >Call: +234 816 2065 896</a></li>
                </ul>

                <ul>
                    <li class="footer-heading">Important Links</li>
                    <a href="../index.html"><li>Home</li></a>
                    <a href="about.html"><li>About</li></a>
                    <a href="services.html"><li>Services</li></a>
                    <a href="catalog.html"><li>Catalog</li></a>
                    <a href="contact.html"><li>Contact</li></a>
                </ul>   
                <ul>
                    <li class="footer-heading">Reach Out</li>
                    <a href="index.html"><li>Call</li></a>
                    <a href="about.html"><li>Whatsapp Message</li></a>
                    <a href="services.html"><li>Email</li></a>
                </ul>   

            </div>

            <div class="copyright">
                <div class="site-id">
                        <img src="../img/estate-01.png" />
                </div>
                <h4>Copyright © 2023 Real Estate Company</h4>

                <div class="social-media">
            
                <div class="contact-icon">
                    <img src="../img/social media/fb-01.svg"/>
                </div>

            
                <div class="contact-icon">
                    <img src="../img/social media/whatsapp-01.svg"/>
                </div>

            
                <div class="contact-icon">
                    <img src="../img/social media/tiktok-01.svg"/>
                </div>
<!-- 
                <div class="contact-icon">
                    <img src="img/estate-01.png"/>
                </div> -->

            </div>
            </div>

          
        </div>


    </div>
    

    
</body>
</html>