<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link type="text/css" href="../styles/style.css" rel="stylesheet" />
    <link type="text/css" href="../styles/about.css" rel="stylesheet" />
    
    <script src="../js/jquery.js"></script>

</head>
<body>
    <div id="header">
        <div class="wrap">
            
            <div class="site-id">
                    <img src="../img/estate-01.png" />
            </div>

            <div class="pry-nav">
                <ul>
                    <a href="../index.html"><li>Home</li></a>    
                    <a href="about.html"><li>About</li></a>
                    <a href="services.html"><li>Services</li></a>
                    <a href="catalog.html"><li>Catalog</li></a>
                    <a href="contact.html"><li>Contact</li></a>
                </ul>     
            </div>

            <script src="../js/toggle.js"></script>
            <div class="site-id nav">
                    <!-- <div><img src="img/nav.svg" /></div> -->

                <svg version="1.1"  x="0px" y="0px"
                    viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                    
                    <g>
                    <!-- Add a class to each rect element to style and target them individually -->
                    <rect x="4.6" y="10.5" class="st0 bar1" width="30.8" height="4"/>
                    <rect x="4.6" y="18" class="st0 bar2" width="30.8" height="4"/>
                    <rect x="4.6" y="25.5" class="st0 bar3" width="30.8" height="4"/>
                    </g>

                </svg>

             </div>  
        </div>

    </div>

    <!-- <div class="back-drop"></div> -->

    <div style="height:70px;"></div>

    <div class="landing">
        <!-- <video src="media/vid.mp4"
               autoplay="true">
        </video> -->

        <div class="text">
            <h1>Services</h1>
            <p>
                At Sagesse de Dieu Limited<br/>
                We offer quality services and good customer relations
            </p>
            <button>Send a Message</button>
        </div>

    </div>

    <!-- main section -->
    <div id="main">

        <!-- section -->
        <div class="section">
            <h1>What We Do</h1>
            
            <div class="container">

                <div class="item">
                    <div class="icon-box">
                        <img src="../img/est.svg" />
                    </div>

                    <h3>Real Estate</h3>
                    <p>Find your dream property with ease we 
                        got you covered from lands, houses, rent.
                    </p>
                </div>

                <div class="item">
                    <div class="icon-box">
                        <img src="../img/engr.svg" />
                    </div>

                    <h3>Construction</h3>
                    <p>Find your dream property with ease we 
                        got you covered from lands, houses, rent.
                    </p>
                </div>

                <div class="item">
                    <div class="icon-box">
                        <img src="../img/contact.svg" />
                    </div>

                    <h3>Consultancy</h3>
                    <p>Find your dream property with ease we 
                        got you covered from lands, houses, rent.
                    </p>
                </div>

            </div>

        </div>

        <div class="narrative">

            <div class="text-box">
                <h1>8 Years Of Undefeated Success</h1>
                <p>                    
                    At Sagesse de Dieu, we deliver unparalleled expertise 
                    and innovation in all our projects, catering to both
                    residential and commercial clients. 
                    Our skilled team of master carpenters 
                    and artisans are dedicated to crafting custom-made furniture,
                    intricate woodwork, and bespoke cabinetry that 
                    beautifully reflects your style and preferences. 
                </p>
            </div>

            <div class="img-box">
                <img src="../img/house.jpg" />
            </div>

        </div>


        <!-- section -->
        <div class="section">
            <h1>Our Team</h1>
            
            <div class="container">

                <div class="item project2">
                    <img src="../img/amp.jpg" />
                    <h3>Exquisite Architecture</h3>
                </div>

                <div class="item project2">
                    <img src="../img/amp.jpg" />
                    <h3>Bespoke Furniture</h3>
                </div>

                <div class="item project2">
                    <img src="../img/amp.jpg" />
                    <h3>Property Morgage</h3>
                </div>

            </div>

                        
            <div class="container">

                <div class="item project2">
                    <img src="../img/amp.jpg" />
                    <h3>Bulding and Construction</h3>
                </div>

                <div class="item project2">
                    <img src="../img/amp.jpg" />
                    <h3>Estate management</h3>
                </div>

                <div class="item project2">
                    <img src="../img/amp.jpg" />
                    <h3>Urban and Regional Planning</h3>
                </div>

            </div>

        </div>

        <!--Contact section -->
        <div class="section">
            <h1>Contact Us</h1>
            
            <div class="contact-container">
                <div class="contact-items ctext">
                    <h2>Let us Talk</h2>
                    <p>Got something for us send us a Message
                        to get started
                    </p>
                </div>
                <div class="contact-items">
                    <form action="#" method="POST">
                        <input type="text" name="#" placeholder="Your name"/>
                        <input type="text" name="#" placeholder="Your phone"/>
                        <textarea>

                        </textarea>
                        <button>Send Message</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="footer">

        <div class="footer-wrap">



            <div class="footer-text-container">

                <ul>
                    <li class="footer-heading">Real Estate Company</li>
                    <li>
                        We Aim to produce magnificent works of furniture produced<br/> 
                        sustainably from durable and aesthetic product
                    </li>
                    <li>Headquarters: 136 Burma, Akwanga, Nassarawa State.</li>
                    <li>Monday - Saturday 8:00AM - 5:30PM <br/>Sundays Closed</li>
                    <li><a href="tel:08162065896" >Call: +234 816 2065 896</a></li>
                </ul>

                <ul>
                    <li class="footer-heading">Important Links</li>
                    <a href="../index.html"><li>Home</li></a>
                    <a href="about.html"><li>About</li></a>
                    <a href="services.html"><li>Services</li></a>
                    <a href="catalog.html"><li>Catalog</li></a>
                    <a href="contact.html"><li>Contact</li></a>
                </ul>   
                <ul>
                    <li class="footer-heading">Reach Out</li>
                    <a href="index.html"><li>Call</li></a>
                    <a href="about.html"><li>Whatsapp Message</li></a>
                    <a href="services.html"><li>Email</li></a>
                </ul>   

            </div>
           

            <div class="copyright">
                <div class="site-id">
                        <img src="../img/estate-01.png" />
                </div>
                <h4>Copyright © 2023 Real Estate Company</h4>

                <div class="social-media">
            
                <div class="contact-icon">
                    <img src="../img/social media/fb-01.svg"/>
                </div>

            
                <div class="contact-icon">
                    <img src="../img/social media/whatsapp-01.svg"/>
                </div>

            
                <div class="contact-icon">
                    <img src="../img/social media/tiktok-01.svg"/>
                </div>
<!-- 
                <div class="contact-icon">
                    <img src="img/estate-01.png"/>
                </div> -->

            </div>
            </div>

          
        </div>


    </div>
    

    
</body>
</html>