{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block title %} Package {% endblock %}
{% block content %}

  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">Welcome {{ request.user.username }}</h3>
          <h6 class="font-weight-normal mb-0">All systems are running smoothly! <!-- You have <span class="text-primary">3 unread alerts!</span></h6> -->
        </div>
        <!-- <div class="col-12 col-xl-4">
         <div class="justify-content-end d-flex">
          <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
            <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
             <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
              <a class="dropdown-item" href="#">January - March</a>
              <a class="dropdown-item" href="#">March - June</a>
              <a class="dropdown-item" href="#">June - August</a>
              <a class="dropdown-item" href="#">August - November</a>
            </div>
          </div>
         </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 stretch-card transparent">
           <div class="card card-tale">
            <div class="card-body ">
              <a href="{% url 'package:packages' %}" style="text-decoration: none; cursor: pointer; color: white;">
              <div>
              <p class="mb-3 cardtext" style="font-size: 16px; font-weight: 500;">Account Status</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="cardnumber">{{ user_profile.get_account_status_display }}</p>
                <p><i class="fas fa-wallet" style="font-size: 20px;"></i> </p>
              </div>
              <p class="cardtext mt-2" style="font-size: 14px;">{% if user_profile.account_status != "AC" %} Purchase package to activate {% else %} Account activated start earning {% endif %}</p>
              </div>
              </a>
              <div>
              </div>
            </div>
          </div>
        </div>
     <div class="col-md-3 stretch-card transparent mt-3 mt-lg-0">
           <div class="card card-dark-blue">
            <div class="card-body ">
              <div>
              <p class="mb-2 cardtext" style="font-size: 16px; font-weight: 500;">Total Whatsapp Withdraws</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="cardnumber">{{ user_profile.total_whatsapp_withdrawal }}</p>
                <p><i class="fas fa-credit-card" style="font-size: 20px;"></i> </p>
              </div>
              <p class="cardtext mt-2" style="font-size: 14px;">Amount displayed in KES </p>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
       <div class="col-md-3 stretch-card transparent mt-3 mt-lg-0">
           <div class="card card-light-blue">
            <div class="card-body ">
              {% if user_package %}

              <a href="{% url 'products:whatsapp' %}" style="text-decoration: none; cursor: pointer; color: white;">
              <div>
              <p class="mb-3 cardtext" style="font-size: 16px; font-weight: 500;">Package Plan</p>
              
              <div class="d-flex justify-content-between align-items-center">
                
                    <p class="cardnumber">{{ user_package.package.name }}</p>
                
                <p><i class="fas fa-gem" style="font-size: 20px;"></i> </p>
              </div>
              <p class="cardtext mt-2" style="font-size: 14px;">Click here to start earning</p>
              </div>
              </a>

              {% else %}

              <a href="{% url 'package:packages' %}" style="text-decoration: none; cursor: pointer; color: white;">
                <div>
                <p class="mb-3 cardtext" style="font-size: 16px; font-weight: 500;">Package Plan</p>
                
                <div class="d-flex justify-content-between align-items-center">
                                  
                      <p class="cardnumber">No active package</p>
                  
                  <p><i class="fas fa-gem" style="font-size: 20px;"></i> </p>
                </div>
                <p class="cardtext mt-2" style="font-size: 14px;">Click here to purchase package</p>
                </div>
                </a>
              
              {% endif %}


              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 stretch-card transparent mt-3 mt-lg-0">
           <div class="card card-light-danger">
            <div class="card-body ">
              <div>
              <p class="mb-3 cardtext" style="font-size: 16px; font-weight: 500;">Total Sent Transfers</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="cardnumber">{{ user_profile.total_sent_transfers }}</p>
                <p><i class="fas fa-exchange-alt" style="font-size: 20px;"></i> </p>
              </div>
              <p class="cardtext mt-2" style="font-size: 14px;">Amount displayed in KES </p>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3 stretch-card transparent">
           <div class="card card-light-danger">
            <div class="card-body ">
              <div>
              <p class="mb-3 cardtext" style="font-size: 16px; font-weight: 500;">Deposit Balance</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="cardnumber">{{ user_profile.deposit_balance }}</p>
                <p><i class="fas fa-money-bill-wave" style="font-size: 20px;"></i> </p>
              </div>
              <p class="cardtext mt-2" style="font-size: 14px;">Amount displayed in KES </p>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
     <div class="col-md-3 stretch-card transparent mt-3 mt-lg-0">
           <div class="card card-light-blue">
            <div class="card-body ">
              <div>
              <p class="mb-3 cardtext" style="font-size: 16px; font-weight: 500;">Whatsapp Earnings</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="cardnumber">{{ user_profile.whatsapp_earnings }}</p>
                <p><i class="fas fa-coins" style="font-size: 20px;"></i> </p>
              </div>
              <p class="cardtext mt-2" style="font-size: 14px;">Amount displayed in KES </p>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
       <div class="col-md-3 stretch-card transparent mt-3 mt-lg-0">
           <div class="card card-dark-blue">
            <div class="card-body ">
              <div>
              <p class="mb-3 cardtext" style="font-size: 16px; font-weight: 500;">Referral Earnings</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="cardnumber">{{ user_profile.referral_earnings }}</p>
                <p><i class="fas fa-money-bill" style="font-size: 20px;"></i> </p>
              </div>
              <p class="cardtext mt-2" style="font-size: 14px;">Amount displayed in KES </p>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 stretch-card transparent mt-3 mt-lg-0">
           <div class="card card-tale">
            <div class="card-body ">
              <div>
              <p class="mb-3 cardtext" style="font-size: 16px; font-weight: 500;">Withdrawn</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="cardnumber">{{ user_profile.amount_withdrawn }}</p>
                <p><i class="fas fa-arrow-circle-down" style="font-size: 20px;"></i></p>
              </div>
              <p class="cardtext mt-2" style="font-size: 14px;">Amount displayed in KES </p>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="row mt-5">
       <div class="col-md-8 stretch-card transparent mt-3  mt-lg-0">
           <div class="card card-dark-blue py-3">
            <div class="card-body ">
              <p class="card-title text-white">Order Details</p>
              <div class="mb-4">
               <label for="myDetails" class="form-label">My Details</label>
                <input type="text" id="myDetails" class="form-control" value="{{ request.user.username }}" readonly>
              </div>
              <div class="mb-3">
                  <label for="invitedBy" class="form-label">Invited By:</label>
                   <input type="text" id="invitedBy" class="form-control" value="{{request.user.profile.invited_by }}" readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 stretch-card transparent mt-3 mt-lg-0">
           <div class="card card-tale py-4">
            <div class="card-body ">
              <p class="card-title text-white">My unique referral link</p>
              <div>
                <input type="text" class="form-control mb-3" id="linkText" value="{{request.user.profile.get_referral_link }}" readonly>
                <button class="btn btn-primary form-control " onclick="copyToClipboard()" style="border:none;">Copy Link</button>
              </div>
              <div class="Referal">
                       <div class="referal-item">
                        <div>My Referrals</div>
                        <div>{{ user.profile.referrals_count }}</div>
                       </div>
                       <div class="referal-item">
                        <div>Active</div>
                        <div>{{ user.profile.active_referrals_count }}</div>
                       </div>
                       <div class="referal-item">
                        <div>Dormant</div>
                        <div>{{ user.profile.dormant_referrals_count }}</div>
                       </div>
              </div>
              
              <div>
              </div>
            </div>
          </div>
        </div>
  </div>
  


{% endblock %}



