<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenith Money Digital</title>
</head>
<body>
    <div class="onboarding_container">
        <div class="onboarding_item_container">
            <div class="onboarding_image_box">
                <img />
            </div>

            <button>Login</button>
            <button>Register</butto>
        </div>
    </div>
</body>
</html>

<style>
    .onboarding_item_container {
        width: 100dvh;
        height: 100%;
        display: grid;
        place-content: center;
        border: 1px solid red;
    }
</style>