{% extends "administration/admin_base.html" %}
{% load static %}
{% block title %} Package {% endblock %}
{% block content %}

{% block page_style %}
<link type="text/css" href="{% static 'styles/auth.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'styles/form.css' %}" rel="stylesheet" />
{% endblock %}
<!-- Main dashboard section-->
<div id="home" class="tabcontent">

    <a href="{% url 'administration:user_whatsapp_screenshots' %}">
        <div class="back_icn_container">
            <img src="{% static 'img/icons/back.svg' %}" />
        </div>
    </a>


    <div class="form_container">
        <h3>Whatsapp Screenshot Action for {{ whatsapp_screenshot_request.user.username }}</h3>
        <p>Date: {{ whatsapp_screenshot_request.created }}</p>
        <!-- <p>Send money to:</p> -->
         <img src="{{ whatsapp_screenshot_request.screenshot.url }}" width="400px" />
        <h5>{{ whatsapp_screenshot_request.user.profile.phone_number }}</h5>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <center>
                <button type="submit">Save Action</button>
            </center>
        </form>
        
    </div>


</div>


{% endblock %}