{% extends "administration/admin_base.html" %}
{% load static %}
{% block title %} Package {% endblock %}
{% block content %}

<!-- Main dashboard section-->
<div id="home" class="tabcontent">

    <a href="{% url 'administration:user_whatsapp_screenshots' %}">
        <div class="back_icn_container">
            <img src="{% static 'img/icons/back.svg' %}" />
        </div>
    </a>

    <div class="table_container"></div>
        <div class="table-wrapper">
            <h2 class="table-title">Approved Screenshots</h2>
            <table class="modern-table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Photo</th>
                        <th>Username</th>
                        <th>Views</th>
                        <th>Status</th>
                        <th>UUID</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_screenshot in approved_whatsapp_screenshots %}
                    <tr >
                        <td>{{ forloop.counter }}</td>
                        <td data-label="Photo">
                            {% if user_screenshot.screenshot %} 
                                <img src="{{ user_screenshot.screenshot.url }}" />
                            {% else %} 
                                <img src="{% static 'img/user.jpg' %}" />
                            {% endif %}
                        </td>
                        <td data-label="Username">{{ user_screenshot.user.username }}</td>
                        <td data-label="Views">{{ user_screenshot.number_of_views }}</td>

                        {% if user_screenshot.approved %}
                            <td data-label="Status">
                                <span class="status status-active">Approved</span>
                            </td>
                        {% else %}
                            <td data-label="Status">
                                <span class="status status-pending">Processing</span>
                            </td>
                        {% endif %}
                        <td data-label="UUID">{{ user_screenshot.screenshot_reference_code }}</td>
                        
                        <td data-label="Date">{{ user_screenshot.created }}</td>
                        <a>
                            <td data-label="Action">
                                <img src="{% static 'img/icons/check.svg' %}" />
                            </td>
                        </a>
                    
                    </tr>
                    {% empty %}
                    <tr >
                        <td colspan="7"><span class="status status-inactive">No Data</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}