{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block title %} Profile {% endblock %}
{% block unique_styles %}
<link type ="text/css" href="{% static 'styles/auth.css' %}"  rel="stylesheet">
<!-- End plugin css for this page -->
 <style>
  #navbar-search-input {
    margin: 0;
    margin-inline-start: 8px;
  }
 </style>
 
 {% endblock %}
{% block content %}

  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">My Profile</h3>
          <!-- <h6 class="font-weight-normal mb-0"></h6> -->
        </div>
        <div class="col-12 col-xl-4">
         <div class="justify-content-end d-flex">
          <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
            <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
             <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
              <a class="dropdown-item" href="#">January - March</a>
              <a class="dropdown-item" href="#">March - June</a>
              <a class="dropdown-item" href="#">June - August</a>
              <a class="dropdown-item" href="#">August - November</a>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4 stretch-card transparent">
           <div class="card card-tale" style="cursor: context-menu;">
            <div class="card-body text-center">
              <div>

              <div class="profile" title="Accounts">
                <img src="{% if request.user.profile.photo %} {{ request.user.profile.photo.url }} {% else %} {% static 'img/user.jpg' %} {% endif %}" />
              </div>
              <p style="text-align: left; font-weight: 500; border-bottom: 1px solid white; padding-top: 24px; padding-bottom: 40px;">
                {{ request.user.email }}
              </p>
              <p class="pt-4" style="text-align: left; font-weight: 500;">
                My Referral Link
              </p>
              <p class="">
                {{request.user.profile.unique_referral }}
              </p>
              
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
    
       <div class="col-md-8 stretch-card transparent mt-3 mt-lg-0">
           <div class="card card-light-blue">
            <div class="card-body ">

                <form method="post" enctype="multipart/form-data">
                    <div class="long-form">
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                    </div>

                    {% csrf_token %}
                    <p><input type="submit" value="Save changes"></p>
                </form>

<!--                 <form class="pt-3">-->
<!--                    <div class="mb-3">-->
<!--                       <label for="" class="form-label" style="font-weight: 600;">Full Name</label>-->
<!--                       <input type="text" class="form-control" id=" aria-describedby=" value="">-->
<!--                     </div>-->
<!--                      <div class="mb-3">-->
<!--                       <label for="" class="form-label" style="font-weight: 600;">Username</label>-->
<!--                       <input type="text" class="form-control" id="" aria-describedby="">-->
<!--                     </div>-->
<!--                      <div class="mb-3">-->
<!--                       <label for="" class="form-label" style="font-weight: 600;">Email</label>-->
<!--                       <input type="text" class="form-control" id="" aria-describedby="">-->
<!--                     </div>-->
<!--                     <div class="mb-3">-->
<!--                       <label for="exampleInputnumber" class="form-label" style="font-weight: 600;">Phone Number</label>-->
<!--                       <input type="number" class="form-control" id="exampleInputnumber" aria-describedby="numberHelp">-->
<!--                     </div>-->
<!--                     <div class="mb-3">-->
<!--                       <label for="" class="form-label" style="font-weight: 600;">Region Of Residence</label>-->
<!--                       <input type="text" class="form-control" id="" aria-describedby="">-->
<!--                     </div>-->
<!--                     <div class="mb-3">-->
<!--                       <label for="" class="form-label" style="font-weight: 600;">Gender</label>-->

<!--                     <div class="d-flex" style="gap: 20px;">-->
<!--                        <div><input class="" type="radio" name="name">Male</div>-->
<!--                        <div><input type="radio" name="name">Female</div>-->
<!--                     </div>-->
<!--                      </div>-->
<!--                     <div class="mb-3">-->
<!--                        <label for="formFileMultiple" class="form-label">Change Profile</label>-->
<!--                        <input class="form-control" type="file" id="formFileMultiple" multiple>-->
<!--                     </div>-->

<!--                     <button type="submit" class="btn  mt-3 text-white" style="background: #dc3545;">Update Profile</button>-->
<!--                </form>-->
             
              <div>
              </div>
            </div>
          </div>
        </div>
    </div>
<div class="card mt-5">
<h4>Packages Purchased</h4>
<table class="mt-3">
<thead>
<tr>
  <th>Amount</th>
  <th>Package</th>
  <th>Date</th>
</tr>
</thead>
<tbody>
<tr>
  <td>4500</td>
  <td>Gold Plan</td>
  <td>2024-11-07 10:01:11</td>
</tr>
</tbody>
</table>

<div class="pagination mt-3">
<button>Previous</button>
<button>1</button>
<button>Next</button>
</div>
</div>
  

{% endblock %}
